<%# 1つの検索結果についてのテンプレート %>
<div class="card col-6 col-md-3 col-lg-2">
  <img class="card-img-top">
    <% if book.image.present? %>
      <%= image_tag(book.image) %>
    <% else %>
      <%= image_tag("book-placeholder.png", class: "img-responsive") %>
    <% end %>
  <div class="card-body">
    <h5 class="card-title"><%= book.title %></h5>
    <p class="card-text"><%= book.author %></p>
    <%# 本のレビュー新規登録画面にimage,title,authorの値を渡す %>
    <div class="text-right">
      <%= link_to "レビューをかく", 
      new_book_path(image: book.image, title: book.title, author: book.author, google_books_api_id: book.google_books_api_id), 
      class: "btn btn-primary", method: :get %>
    </div>
  </div>
</div>