
<%= render 'layouts/flash_messages' %>
<h3 style="margin:0.8rem;"><%= current_user.name %>さんが よんだほん:<%= @books.length %>さつ</h3>

<div class="row" style="margin:1.5rem;">
  <div class="col-sm-8">
    <%= form_with(url: index_search_books_path, local: true, method: :get, class: "input-group") do |f| %>
      <%= f.text_field :keyword, class: "form-control", placeholder: "よんだほんを けんさくする" %>
      <span>
        <%= f.button type: "submit", class: "btn btn-secondary" do %>
          <i class="fa fa-search"></i>
        <% end %>
      </span>  
    <% end %>
  </div>
  <div class="col-sm-4">
    <%= button_to "ほんをとうろく", new_book_path, {class: "btn btn-primary", method: :get} %>
  </div>
</div>

<%# カードを横並びにする %>
<div class="card-deck">
  <div class="row">
    <% @books.each do |book| %>
      <%= link_to(book_path(book), class: "card col-6 col-sm-2") do %>
        <img class="card-img-top">
          <% if book.image.present? %>
            <%= image_tag(book.image) %>
          <% else %>
            <%# デフォルト画像をレスポンシブ化 %>
            <%= image_tag("book-placeholder.png", class: "img-responsive") %>
          <% end %>
        <div class="card-body">                
          <h5 class="card-title"><%= book.title %></h5>
          <div class="card-text rating-container">
            <div class="star-rating mb-2">
              <div class="star-rating-front" style="width: <%= book.review_rating_percentage %>%">★★★★★</div>
              <div class="star-rating-back">★★★★★</div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>



