<%= render 'layouts/flash_messages' %>
<h2>いままでに よんだほん:<%= @books.length %>さつ</h2>

<%# カードを横並び＆隙間ありにする %>
<div class="card-deck">
  <div class="row">
    <% @books.each do |book| %>
      <%= link_to(book_path(book), class: "card col-6 col-sm-2") do %>
        <img class="card-img-top">
          <% if book.image.present? %>
            <%= image_tag(book.image) %>
          <% else %>
            <%# デフォルト画像をレスポンシブ化 %>
            <%= image_tag("book-placeholder.png", class: "img-responsive") %>
          <% end %>
        <div class="card-body">                
          <h5 class="card-title"><%= book.title %></h5>
          <div class="card-text rating-container">
            <div class="star-rating mb-2">
              <div class="star-rating-front" style="width: <%= book.review_rating_percentage %>%">★★★★★</div>
              <div class="star-rating-back">★★★★★</div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>



