<h2>いままでに よんだほん:<%= @books.length %>さつ</h2>
<%= render 'layouts/flash_messages' %>

<%# カードを横並び＆隙間ありにする %>
<div class="card-deck">
  <div class="row">
    <% @books.each do |book| %>
      <div class="card col-6 col-sm-3">
        <img class="card-img-top">
          <% if book.image.present? %>
            <%= image_tag(book.image) %>
          <% else %>
            <%= image_tag("book-placeholder.png", class: "img-responsive") %>
          <% end %>
        <div class="card-body">                
          <h4 class="card-title"><%= book.title %></h4>
            <div class="card-text rating-container">
              <div class="star-rating mb-2">
                <div class="star-rating-front" style="width: <%= book.review_rating_percentage %>%">★★★★★</div>
                <div class="star-rating-back">★★★★★</div>
              </div>
            </div>
        </div>
      </div>
    <% end %>
  </div>
</div>



