<header class="sticky-top">
  <nav class="navbar navbar-expand navbar-light">
    <%= link_to image_tag("yondayo-logo.png", size: '120x60'), root_path, class: 'navbar-brand' %>
    <div id="Navber">
      <ul class="navbar-nav">
        <% if user_signed_in? %>
          <li class="nav-item active">
            <%= link_to new_book_path do %>
              <span class="fas fa-pencil-alt fa-2x text-secondary"></span>
            <% end %>
          </li>
          <li class="nav-item active">
            <%= link_to praise_books_path do %>
              <span class="fas fa-award fa-2x text-secondary"></span>
            <% end %>
          </li>
          <li class="nav-item active">
            <%= link_to edit_user_registration_path do %>
              <span class="fas fa-user-edit fa-2x text-secondary"></span>
            <% end %>
          </li>
          <li class="nav-item active">
            <%= link_to destroy_user_session_path, method: :delete do %>
              <span class="fas fa-sign-out-alt fa-2x text-secondary"></span>
            <% end %>
          </li>
        <% else %>
          <li class="nav-item active">
            <%= link_to new_user_registration_path do %>
              <span class="fas fa-user-plus fa-2x text-secondary"></span>
            <% end %>
          </li> 
          <li class="nav-item active">
            <%= link_to new_user_session_path do%>
              <span class="fas fa-sign-in-alt fa-2x text-secondary"></span>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </nav>
</header>