<header>
  <nav class="navbar navbar-expand navbar-light">
    <%= link_to "よんだよ", root_path, class: 'navbar-brand' %>
    <div id="Navber">
      <ul class="navbar-nav">
        <% if user_signed_in? %>
          <li class="nav-item active">
            <%= link_to 'アカウントへんしゅう', edit_user_registration_path, class: 'nav-link' %>
          </li>
          <li class="nav-item active">
            <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: 'nav-link' %>
          </li>
          <form class="form-inline">
            <input type="search" class="form-control">
            <button type="submit" class="btn btn-primary btn-block">けんさく</button>
          </form>
        <% else %>
          <li class="nav-item active">
            <%= link_to "しんきとうろく", new_user_registration_path, class: 'nav-link' %>
          </li> 
          <li class="nav-item active">
            <%= link_to "ログイン", new_user_session_path, class: 'nav-link' %>
          </li>
        <% end %>
      </ul>
    </div>
  </nav>
</header>